<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.yktakaha4.watsonmusic.mapper.DocumentSourceMapper">
  <select id="selectAll" resultType="DocumentSource">
    select * from document_source
    order by music_id
  </select>
  <select id="selectByMusicId" resultType="DocumentSource">
    select * from document_source
    where music_id = #{musicId}
  </select>
</mapper>