<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.yktakaha4.watsonmusic.mapper.TrainingSourceMapper">
  <select id="selectAll" resultType="TrainingSource">
    select * from training_source
    order by query, document_id, music_id, relevance
  </select>
</mapper>